How to use flattr4j on Android devices
======================================

For running _flattr4j_ v2 on Android, at least Android 3.0 "Honeycomb" is needed. Lower API levels do not work because the Flattr server makes use of SNI. I recommend to use at least _flattr4j_ v2.13, especially if you run into HTTPS certificate issues.

Usage
-----

The flattr4j core API can be used without restrictions on Android, including `FlattrService` and `FlattrAuthenticator`.

Requirements
------------

flattr4j depends on the _json.org_ reference library. However, it is already provided by Android and does not need to be installed separately.

Since flattr4j connects to the Flattr API via HTTP, your application needs `INTERNET` permission to run.

Gradle
------

Make sure that `json` is excluded when you use build tools with dependency management.

If you are using Gradle for Android development (e.g. Android Studio), add this dependency to your `build.gradle` file:

```groovy
dependencies {
    compile('${project.groupId}:${project.artifactId}-core:${project.version}') {
        exclude module: 'json'
    }
}
```
