flattr4j spring social
======================

This is the Spring Social provider module for _flattr4j_.

How to Use
----------

_flattr4j_ is available at Maven Central. Just add this snippet to your `pom.xml`:

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
</dependency>
```
